<mat-toolbar style="background-color: #307fe2;">
    <mat-toolbar-row>
      <button mat-icon-button><span class="material-icons">
        menu
        </span></button>
      <span style="color:#fff;"><h3>Accounting Extract PV</h3></span>
      <img class="img-responsive" src="../../assets/images/tml_logo.png">
        <span class="example-spacer"></span>
        <button mat-icon-button><span class="material-icons">
          account_circle
          </span></button>
        <button mat-raised-button>Login</button>
        <button mat-button>Dealer Login</button>
  </mat-toolbar-row>
</mat-toolbar>

