<!DOCTYPE html>
<html>
<head>
<style>
    body {
  background-color: white;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button {background-color: #307fe2;}
</style>
</head>
<body>

<h1>vehicle-debit-note</h1>
<button class="button">Export</button>
<h1>inputs</h1>

<meta name="viewport" content="width=device-width, initial-scale=2">
<style>
table {
  border-collapse: collapse;
  border-spacing: 100px;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {

  text-align: left;
  padding: 50px;
}

tr:nth-child(even){background-color: white}
</style>
<body>


<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>From invoice date</th>
      <th>To invoice date</th>
      <th>Invoice number</th>
      
    </tr>
    <tr>
      <td>From invoice date</td>
      <td>To invoice date</td>
      <td>Invoice number</td>
      
    </tr>
    
   
  </table>
</div>

</body>

